.notes-container {
  grid-column: 4/7;
}

.notes-input {
  border: 1px solid #ccc;
  width: 100%;
  line-height: 1.8em;
  margin: 5px auto;
  position: relative;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0;
}

.notes-container dt {
  font-weight: 600;
}

.notes-container dl {
  font-size: 0.9em;
}