.current-task-container {
  grid-column: 2/6;
  text-align: center;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  height: 95px;
}

.current-title > h1 {
  margin: 0;
}

.current-timer {
  margin-top: 10px;
}

.current-timer > h4 {
  margin: 0;
}

.current-title {
  margin: 10px;
}

.current-task-background {
  display: flex;
  flex-flow: nowrap;
  width: 100%;
  height: 30%;
}

.time-bars {
  height: 100%;
  background-color: deeppink;
}