.current-task-container {
  grid-column: 2/6;
  text-align: center;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.current-title > h1 {
  margin: 0;
}

.current-timer {
  margin-top: 10px;
}

.current-timer > h3 {
  margin: 0;
}

.current-title {
  margin: 10px;
}