.header {
  grid-column: 1/7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  width: 25%;
}

.header-center {
  width: 75%;
}

.instructions {
  text-align: center;
  width: 100%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  
  
}

.clear-btn, .end-meeting-btn{
  width: 50%;
  border: none;
  background-color: #828584;
  padding: 5px 15px;
  color: #fff;
  border-radius: 3px;
}