.heap-container {
  grid-column: 1/7;
}

.heap-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.heap-list>.task-item {
  width: 100%;
}

.heap-input {
  margin: 0 auto;
  width: 70%;
  
}